<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand"
      href="#">Navbar</a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
      id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"
            aria-current="page"
            href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="#">Link</a>
        </li>


      </ul>

    </div>
  </div>
</nav>
<div class="container ">
  <!-- Department card -->

  <div class="card noprint   mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col ">
          <h4 class="text-success">List of Departments</h4>
          <ol class="list-group"
            *ngIf="departments!=null">
            <li class="list-group-item"
              *ngFor="let dept of departments">
              {{dept.departmentName}}
            </li>
          </ol>
        </div>
        <div class="col ">
          <form [formGroup]="departmentForm"
            (ngSubmit)="SaveDepartment()">


            <div class="input-group mb-3">
              <span class="input-group-text"
                id="basic-addon1">Enter name</span>
              <input type="text"
                formControlName="departmentName"
                class="form-control"
                placeholder="Enter department name"
                aria-label="department name"
                aria-describedby="basic-addon1">
            </div>

            <button type="submit"
              [disabled]="departmentForm.invalid"
              class="align-right btn btn-success">Create department</button>

          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- Employee card -->
  <div class="card   mt-1">
    <div class="card-body">
      <div class="row">
        <div class="col col-sm-12 col-md-8">
          <h4 class="text-warning">List of Employees</h4>



          <button class="btn btn-secondary"
            (click)="printTable()">Print data</button>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Full name</th>
                <th scope="col">Gender</th>
                <th scope="col">BirthDate</th>
                <th scope="col">Department</th>
                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <td scope="row">{{employee.id}}</td>
                <td>{{employee.firstName}} {{employee.lastName}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.birthDate | date: 'dd-MM-Y'}}</td>
                <td>{{employee.vDepartment.departmentName}}</td>
                <td>

                  <button (click)="PopulateDatatoForm(employee)"
                    class="btn btn-sm btn-warning mx-1">Edit</button>
                  <button class="btn btn-sm btn-danger">delete</button>
                </td>

              </tr>

            </tbody>
          </table>


        </div>
        <div class="col noprint col-sm-12 col-md-4">

          <form [formGroup]="employeeForm">

            <div class="form-group">
              <label>First Name</label>
              <input type="text"
                class="form-control"
                formControlName="FirstName">
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text"
                class="form-control"
                formControlName="LastName">
            </div>
            <div class="form-group">
              <label>Gender</label>
              <select class="form-control"
                formControlName="Gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label>Department </label>
              <select class="form-control"
                formControlName="DepartmentId">
                <option *ngFor="let dept of departments"
                  [value]="dept.departmentId">{{dept.departmentName}}</option>

              </select>
            </div>
            <div class="form-group">
              <label>Birth date </label>
              <input type="date"
                class="form-control"
                formControlName="BirthDate">
            </div>
            <div class="  px-3 py-3">
              <button type="submit"
                (click)=SaveEmployee()
                *ngIf="CreateMode==true"
                class="btn btn-success">create employee
              </button>

              <button *ngIf="CreateMode==false"
                type="submit"
                (click)=UpdateEmployee()
                class="
                btn
                btn-warning"> update employee
              </button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
